<div class="game-container"
     fxLayout="column">

  <div fxLayoutAlign="space-between center"
       class="info">
    <div *ngIf="game$ | async as game">
      Score: {{ game.score }}
    </div>
    <div>Remaining: {{ gameRemainingTime$ | async }}</div>
  </div>

  <div fxFlex="grow"
       fxLayout="column"
       fxLayoutAlign="space-between stretch"
       class="game-content">
    <div fxFlex="grow"
         #bombZone>
      <div *ngFor="let bomb of bombs$ | async"
           appDraggable
           [initialPosition]="{ x: bomb.xPosition, y: bomb.yPosition }"
           (bombDrag)="onBombDrag(bomb)"
           (bombDrop)="onBombDrop(bomb)"
           class="draggable-bomb">
        <app-bomb [bomb]="bomb"></app-bomb>
      </div>
    </div>
    <div fxLayout="column"
         fxLayoutGap="40px">
      <div fxLayout="row"
           fxLayoutAlign="space-around center">
        <app-bin *ngFor="let bin of bins$ | async"
                 [bin]="bin"
                 [class.same-bomb-hovering]="activeDraggingBomb?.color === bin.color"
                 (mouseenter)="onMouseEnterBin(bin)"
                 (mouseleave)="clearActiveBin()"></app-bin>
      </div>
      <div fxLayoutAlign="end"
           class="info">
        Change in: {{ nextBinMix$ | async }}
      </div>
    </div>
  </div>

</div>
