@import 'variables';

.bomb {
  width: 80px;
  height: 80px;
  border-radius: 50%;

  .lifetime {
    background-color: $bombzilla-orange;
    font-weight: 600;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  &.red-bomb {
    background-color: $bombzilla-red;
  }

  &.blue-bomb {
    background-color: $bombzilla-blue;
  }

  &.green-bomb {
    background-color: $bombzilla-green;
  }
}
